
<table>
  <tr>
    <th>Business name</th>
    <th>Members</th>
    <th>Product name</th>
    <th>Description</th>
    <th>Product url</th>
    <th>Price</th>
    <th>Price discount</th>
    <th>Min order quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.business_name %></td>
    <td><%= product.members %></td>
    <td><%= product.product_name %></td>
    <td><%= product.description %></td>
    <td><%= product.product_url %></td>
    <td><%= product.price %></td>
    
      <% product.offers.each do |each_offer| %>
       <td> <%= each_offer['price_discount'] %></td>
       <td> <%= each_offer['min_no_of_buyer'] %> </td>
      <% end %>
    
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Product', new_product_path %>
<!--
<br /><br />
<div class="request_product_box">
  <table>
    <td>
      <%= link_to image_tag("/assets/plus_icon.png", :class => 'plus_icon') %>
    </td>
    <td>
    <div class="request_input_box_border">
      <%= text_field_tag 'request', nil, :class => 'request_input_box' %>
    </div>
    </td>
    <td>
     <%= link_to image_tag("/assets/request_product_icon.png", :class => 'request_product_icon') %>
    </td>
  </table>
</div><br />
-->
<% @products.each do |product| %>
  <div class="products_main_container">
      <div class="product_offers_time_box">
        <table>
          <td>
            <div>
              <span onclick="toggle_visibility('hiding');">Hide</span>
              <script type="text/javascript">
                  function toggle_visibility(id) {
                     var e = document.getElementById(id);
                     if(e.style.display == 'block')
                        e.style.display = 'none';
                     else
                        e.style.display = 'block';
                  }
              </script>
            </div>
          </td>
          <td>
            <div class="product_offers_small_box">
              <table style="margin-top:7px;">
                  <td style="width:200px;">
                    <span class="product_offers_box_text">Product</span><br/>
                    <span class="product_offers_box_text2"><%= product.product_name %></span>
                  </td>
                  <td style="width:80px; text-align:center;">
                    <span class="product_offers_box_text">Offers</span><br />
                    <span  class="product_offers_box_text3"><%= product.offers.count %></span>
                  </td>
              </table>
            </div>
          </td>
          <td>
            <div class="products_want_this_box"> 
                <div id="variableVal">0</div>
                    <input type="button" onclick="add()" value="I want this">
                    <script>
                      var myNumber = 0; // better don't use number as your variable's name.
                    function add() {
                    myNumber++;
                    document.getElementById("variableVal").innerHTML = myNumber;
                    }
                      </script>
            </div>
          </td>
          <td>
            
            <div class="products_contdown_time_box">
              
                   <div id="counter-container">
                    <div class="counter-box">
                      <div class="counter"><span id="d" class="counter-p">#</span></div>
                      <span class="counter-box-p">days</span>
                    </div>
                    <div class="counter-box">
                      <div class="counter"><span id="h" class="counter-p">#</span></div>
                      <span class="counter-box-p">hours</span>
                    </div>
                    <!-- <div class="counter-box">
                      <div class="counter"><span id="m" class="counter-p">#</span></div>
                      <span class="counter-box-p">minutes</span>
                    </div>
                    <div class="counter-box">
                      <div class="counter"><span id="s" class="counter-p">#</span></div>
                      <span class="counter-box-p">seconds</span>
                    </div> -->
                  </div>
               
                 <script>
                   function counter(futureDate) {
                        var today = new Date(2012,7,24); // today
                        count = Math.floor((futureDate-today)/1000);
                        countdown = setInterval(function(){
                          var temp;
                          $("span#d").html(Math.floor(count/(60*60*24)));
                          temp = count%(60*60*24);
                          $("span#h").html(Math.floor(temp/(60*60)));
                          temp = count%(60*60);
                          $("span#m").html(Math.floor(temp/(60)));
                          temp = count%(60);
                          $("span#s").html(temp);
                          if (count === 0) {
                               alert("time's up");
                               clearInterval(countdown);       
                          }
                          count--;
                        }, 1000);
                      }

                      counter(new Date(2012,8,26)); // May 8, 2012 00:00:00
                      /* counter(new Date(2012,4,8,15,49,10)); // May 8, 2012 15:49:00 */
              </script>
            </div>
            
          </td>
        </table>
      </div>
      <div  id="hiding">
      <div class="products_sub_container">
        <div class="products_description_box">
           <%= product.description %>
        </div>
        <div class="description_dotted_line"></div>
        <div class="products_offers_received_text">
          Offers Received
        </div>
        <div>
          <table class="data_table" cellpadding="0" cellspacing="0" border="0" style="opacity:1;">
            <thead>
              <tr>
                <th style="width:220px; border-right:1px solid #000;">company</th>
                <th style="width:250px; border-right:1px solid #000;">product</th>
                <th style="width:150px; border-right:1px solid #000;">price</th>
                <th style="width:100px; border-right:1px solid #000;">time of bid</th>
                <th style="width:200px;">min #</th>
              </tr>
            </thead>
            <tbody>
              <tr style="text-align:center;">
                <td><%= product.business_name %></td>
                <td><%= product.product_name %></td>
                <td><%= product.price %></td>
                <td>time</td>
                <% product.offers.each do |each_offer| %>
                 <td> <%= each_offer['min_no_of_buyer'] %> </td>
                <% end %>
              </tr>
            </tbody>
          </table>             
       </div>
</div>
</div>

<div class="myclassname">
<a href="#" class="mylink">Comment</a>
<div class="products_comments_box" id="hiding2">
  <%= form_tag add_comment_products_path do  %>
            <div class="field">	      
	      <%= hidden_field_tag :product_id, product._id %>
	    </div>        
	    <div class="field">
	      User Id<br/>
	      <%= text_field_tag :user_id %>
	    </div>
	    <div class="field">
	      Body
	      <%= text_field_tag :body %>
	    </div>
	<div class="actions">
    	<%= submit_tag("Submit") %>
  	</div>
	<% end %>
</div>
</div>
<br />
<% end %>




<script>
 $(function(){
   $('.myclassname .mylink').click(function(){
      $(this).show();
      $('.myclassname .field').toggle();
      $('.myclassname .actions').toggle();
      return false;
   });
});
</script>













