<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false",'google_map' %>

<div class="group_text_header">
    <div class="group_location_text">Showing group near <%= params[:zipcode]  %> ,South Australia</div>
    <div class="group_offer_post_code_text">Postcode</div>
    <div class="group_offer_post_code_input_box">
      <input type="text" />
    </div>
    <div class="group_post_search"><input type="button" value="search"/></div>
</div><br /> <br/>
  <%  @zipcode.product_groups.each do |each_product_group| %>
  <% if each_product_group.zipcode == params[:zipcode] %>
  
  <div class="group_details_container">
      <div class="location_of_group">
        <div  id="map_container" data-latitude="<%= @searched_group.map_lat %>" data-longitude="<%= @searched_group.map_lng %>" style="width: 240px;height: 195px;">
        
        </div>
<%#= image_tag "http://maps.google.com/maps/api/staticmap?center=37.386052,-122.083851&zoom=13&markers=37.386052,-122.083851&size=572x470&sensor=false" %> </div>
      <div class="location_of_country">
        <a href="#" class="link_for_location_of_country">Solar power systems</a> <%= params[:zipcode] %> in Adelaide,South Australia
      </div>
      <div class="description_for_tribe">If you're in this area,you can join this solar buying group to receive group discount offers on home solar systems for:</div>

        <div class="member_count_box"><br />
          <span class="number_dimension"><center>X</center></span>
          <span class="member_font"><center>people</center></span>
        </div>
      <div class="offer_details"><br />
        <span class="offer_count"><center><%= @product.offers.count %></center></span>
        <span class="offer_text"><center>offers</center></span>
      </div>
      <div class="time_left_details"><br />
        <span class="time_left"><center>12</center></span>
        <span class="time_left_text"><center>days left</center></span>
      </div>
      <div class="view_this_group"><input type="button" value="View group" /></div>
    
  </div>
  
 
  
 
   <% end %>
<% end %>
   