
<!--<div class="easy_steps">
    <div class="easy_steps_heading">How it works-4 easy steps</div>
    <div class="join_solar">
        <div class="join_solar_img"><%= link_to image_tag("/assets/join.png") %></div>
        <p class="join_solar_img_text">1.Join a solar buying group in your area</p>
    </div>
    <div class="invite_solar">
        <div class="invite_solar_img"><%= link_to image_tag("/assets/invite_img.png") %></div>
        <p class="invite_solar_img_text">2.Invite others to increase your buying power</p>
    </div>
    <div class="discount_group_offer">
        <div class="discount_group_offer_img"><%= link_to image_tag("/assets/discount_offer_img.png") %></div>
        <p class="discount_group_offer_img_text">3.Receive discounted group offer.</p>
    </div>
    <div class="choose_offer">
        <div class="choose_offer_img"><%= link_to image_tag("/assets/chose_offer.png") %></div>
        <p class="choose_offer_img_text">4.Compare, choose an offer and save</p>
    </div>
</div>
-->
<!--
<div class="easy_2steps">
    <div class="easy_steps_2heading">2 How it works-4 easy steps</div>
    <div class="join_tribe">
        <div class="join_tribe_img"><%= link_to image_tag("/assets/join.png") %></div>
        <p class="join_tribe_img_text">1.Join or create a 'tribe'-a buying group for a product</p>
    </div>
    <div class="invite_others">
        <div class="invite_others_img"><%= link_to image_tag("/assets/invite_img.png") %></div>
        <p class="invite_img_text">2.Invite others to increase your buying power</p>
    </div>
    <div class="receive_group_offer">
        <div class="receive_group_offer_img"><%= link_to image_tag("/assets/group_offer.png") %></div>
        <p class="receive_group_offer_img_text">3.Receive group offers for what you want</p>
    </div>
    <div class="accept_offer">
        <div class="accept_offer_img"><%= link_to image_tag("/assets/accept_offer.png") %></div>
        <p class="accept_offer_img_text">4.Accept an offer to save</p>
    </div>
</div>

-->










  <div class="footer_box"></div>
<div class="footer_container">
   <div class="footer_inner_container">
     <div class="About_link_footer">About

            <div class="about_footer_page"><%= link_to "About us", '#' %></div>
            <div class="about_footer_page"><%= link_to "privacy"%></div>
            <div class="about_footer_page"><%= link_to "Terms and conditions"%> </div>
     </div>
      <div class="for_solar_retailers">
          <div class="text_for_solar_retailers">For solar retailers</div>
          <div class="link_making_offers"><%= link_to "Making offers to group", "#"%></div>
      </div>
      <div class="get_in_touch_container">
          <div class="get_in_touch_text">Get in touch</div>
          <div class="contact_us_link"><%= link_to "Contact us", "#" %></div>
      </div>
      <div class="solar_img">
        <%=  image_tag("/assets/solar_logo.png") %>
      </div>
        <div class="offerus_solar_title"><%= image_tag("/assets/offerussolar.png") %></div>
   </div>

    <div class="footer_last">
      <div class="copy_right_link">Copyright 2012 Michael Dawson Enterpise Pvt Ltd</div>
    </div> 
</div>


<!--
<h1>2 nd footer</h1>
 <div class="footer_inner_2container">
  
  <div class="About_link_2footer">About
     
          <div class="about_2footer_page"><%= link_to "About us", '#' %></div>
          <div class="about_2footer_page"><%= link_to "privacy"%></div>
          <div class="about_2footer_page"><%= link_to "Terms and conditions"%> </div>
  </div>
    <div class="for_business">
        <div class="text_for_business">For businesses</div>
        <div class="link_tribes_offers"><%= link_to "Making offers to tribes", "#"%></div>
    </div>
    <div class="get_in_touch_2container">
        <div class="get_in_touch_2text">Get in touch</div>
        <div class="contact_us_2link"><%= link_to "Contact us", "#" %></div>
    </div>
    <div class="offer_us_img">
      <%=  image_tag("/assets/offer_us.png") %>
    </div>
      
 </div>

  <div class="footer_2last">
    <div class="copy_right_2link">Copyright 2012 Michael Dawson Enterpise Pvt Ltd</div>
  </div>

