


<div class="navigation">

    <div class="navigation_container">
      
      <ul class="solar_navi">
        <li class="local_group"><%= link_to "Local groups"%></li>
        <li class="my_group"><%= link_to "My group" %></li>
        <li class="how_it_works"><%= link_to "How it works" %></li>
          <li class="help"><%= link_to "Help" %></li>
      </ul>
    </div>
 
</div> 



<!--
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      
      <ul class="nav">
        <li class="menu_first"><%= link_to "Browse tribes", tribes_path %></li>
        <li class="menu_second"><%= link_to "Start a tribe", new_tribe_path %></li>
        <li class="dropdown pull-right menu_third">
          <%= link_to "My tribes", my_tribe_tribes_path %>
          <!--
<a href="/my_tribe_tribes" class="dropdown-toggle" data-toggle="dropdown"> My tribes <b class="caret"></b> </a>
<ul class="dropdown-menu">
<li><%#= link_to "drop down 1" %></li>
<li><%#= link_to "drop down 2" %></li>
<li><%#= link_to "drop down 3" %></li>
<li><%#= link_to "drop down 4" %></li>
</ul>
--><!--
        </li>
        <li class="menu_fourth"><%= link_to "How it works" %></li>
        <li class="dropdown pull-right menu_fifth">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Help <b class="caret"></b> </a>
          <ul class="dropdown-menu">
            <li><%= link_to "drop down 1" %></li>
            <li><%= link_to "drop down 2" %></li>
          </ul>
        </li>
        <li>
        <form class="navbar-search pull-right">
          <input type="text" class="search-query" placeholder="Search tribal.ly"/>
        </form>
        </li>
        <li class="dropdown pull-right menu_sixth">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"></a>
          <ul class="dropdown-menu">
            <li><%= link_to "search 1" %></li>
            <li><%= link_to "search 2" %></li>
          </ul>
        </li>
        <li class="menu_seventh"></li>
      </ul>
    </div>
  </div>
</div>
-->
